* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.steps {
  width: 42rem;
  margin: 10rem auto;
  background-color: #c4c4c4;
  padding: 1.2rem 3rem;
}
.numbers {
  display: flex;

  justify-content: space-between;
  margin-bottom: 3.7rem;
}
.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  text-align: center ;
  line-height: 2.5;
}

.msg {
  text-align: center;
}

.btns {
  text-align: center;
}
.btns button:not(:last-child) {
  margin-right: 3rem;
}

.active {
  background-color: #7950f2;
  color: red;
}