* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.steps {
  width: 50rem;
  margin: 10rem auto;
  background-color: #c4c4c4;
  padding: 1.2rem 3rem;
}
.numbers {
  display: flex;
  justify-content: space-between;

}
.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
}

.msg {
  text-align: center;
}

.btns {
  text-align: center;
}